body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.converter {
    background-image:url("temp.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 25px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 10px;
    font-size: 18px;
}

.boxstyle {
    width: 277px;
}
